/* 전체 */
.home-container {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

/* 상단 헤더 */
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 25px;
  background-color: #d4f0c4; /* 연두색 */
  border-bottom: 2px solid #c2e3b6;
}

/* 로고 */
.header-logo {
  width: 130px;
}

/* 가로 탭 메뉴 */
.tab-menu {
  display: flex;
  gap: 9px;
  margin-left: 20px;
}

.tab-btn {
  background: none;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 600;
  color: #2c5e1a; /* 진한 초록 */
}

.tab-btn:hover {
  background-color: #c3e8b9;
}

.tab-btn.active {
  background-color: #2f7d32;
  color: #ffffff;
}

/* 헤더 오른쪽 */
.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}



.setting-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.welcome-text {
  margin-left: 10px;
}

/* 메인 콘텐츠 */
.dashboard {
  padding: 30px;
}
